<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/bugtracker.css">
    <script src="/js/bootstrap.min.js"></script>-->
    <title>Plop</title>
</head>
<body>
    <div class='container-fluid'>
        <!-- The header with project name and logout link -->
        <div class="row bugtracker-header">
            <div class="col">
                <h2>
                    Bug Tracker
                </h2>
            </div>
            <div class="col d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <a href="/logout">Logout</a>
                </div>
                <div class="p-2 bd-highlight">
                    <img th:src="${user.picture == null} ? '/images/person.svg' : ${user.picture}"
                         class="img-circle" width="35" height="35">
                </div>
            </div>
        </div>
    </div>
</body>
</html>